{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- Não utilize: -->
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        <!-- Utilize: -->
        <li><a href="{% url 'polls:detail' question.id %}"> {{ question.question_text }}</a></li>
        <img src="{% static 'images/background.jpg' %}" class="img-responsive">
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}