{% extends 'polls/base.html' %}
{% block content %} 
    {% if latest_question_list %}
        <div class="row titulo">
            <h1>Últimas enquetes</h1>
        </div>
        <div class="row enquetes">
        {% for question in latest_question_list %}
            <!-- Não utilize: -->
            <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
            <!-- Utilize: -->
            <!-- <li><a href="{% url 'polls:detail' question.id %}"> {{ question.question_text }}</a></li> -->
            <div class="enquete">
                <h3><a href="{% url 'polls:detail' question.id %}"> {{ question.question_text }}</a></h3>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock content %}